*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
}
picture{
    height: 40%;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    background-image: url(./img/gerenciador-de-tarefas.jpg);
    background-position: center;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    height: 60%;
    width: 100vw;
    position: relative;
    display: grid;
    gap: 10px;
    top: 0%;
}
.infos-criar{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.infos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.i{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.i label{
    color: var(--cinza);
}
.i input{
    border: none;
    border-bottom: 1px solid var(--cinza);
    font-size: 16px;
}
input:focus{
    outline-style: none;
}
button{
    width: 300px;
    height: 54px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 12px;
}