.tar button{
    border: none;
    background-color: var(--branco);
    height: 20px;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header{
    background-color: var(--verde-escuro);
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 8%;
    overflow-y: hidden;
    position: fixed;
    z-index: 2;
}
main{
    padding: 7%;
    gap: 32px;
    position: relative;
}
.principal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.container{
    background-color: var(--verde);
    max-height: 500px;
    border-radius: 15px;
    width: 70%;
}
.tarefas-container{
    padding: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    gap: 16px;
    height: 100%;
    overflow-y: scroll;
}
.tarefas-container::-webkit-scrollbar {
    display: none;
  }
.botao{
    position: fixed;
    right: 2%;
}
.button{
    border-color: var(--verde-escuro);
    border-width: 2px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--branco);
}
.button a{
    text-decoration: none;
    color: var(--verde-escuro);
    font-size: 16px;
}
.tar{
    background-color: var(--branco);
    width: 100%;
    padding-left: 12px;
    min-height: 80px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.botoes{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-self: center;
}

.trash{
    max-width: 40px;
    max-height: 40px;
}
.trash img{
    width: 20px;
}
.editar{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 2%;
    top: 10%;
    left: 36%;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
    background-color: var(--verde-escuro);
    border-radius: 40px;
    z-index: 10;
}
.card-infos{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 2%;
    top: 16%;
    left: 36%;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
    background-color: var(--verde-escuro);
    border-radius: 40px;
    z-index: 10;
}
.infos{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.coment-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comentario{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--verde);
}
.button_editar{
    margin-top: 3%;
    border-color: transparent;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    cursor: pointer;
}