*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.tar button{
    border: none;
    background-color: var(--branco);
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header{
    background-color: var(--verde-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 8%;
}
main{
    padding: 7%;
    gap: 32px;
    position: relative;
}
.container{
    background-color: var(--verde);
    max-height: 500px;
    border-radius: 15px;
    display: grid;
    grid-template-areas: 
    "botao tarefas";
}
.tarefas-container{
    padding: 20%;
    display: flex;
    border-radius: 24px;
    display: grid;
    gap: 16px;
    grid-area: tarefas;
    max-height: 500px;
    overflow-y: scroll;
}
.tarefas-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
.botao{
    grid-area: botao;
    place-self: end center;
    padding-bottom: 32px;
}
.button{
    border-color: var(--verde-escuro);
    border-width: 2px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--branco);
}
.button a{
    text-decoration: none;
    color: var(--verde-escuro);
    font-size: 16px;
}
.tar{
    background-color: var(--branco);
    width: 100%;
    padding-left: 12px;
    min-height: 60px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.first{
    width: 300px;
}
.trash{
    width: 60px;
    max-height: 60px;
}
.trash img{
    width: 20px;
}
.editar{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 2%;
    top: 10%;
    left: 36%;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
    background-color: var(--verde-escuro);
    border-radius: 40px;
    z-index: 99;
}
.button_editar{
    margin-top: 3%;
    border-color: transparent;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    cursor: pointer;
}