body{
    width: 100vw;
    height: 100vh;
}
main{
    display: grid;
    grid-template-columns: 
    "1, 2";
    width: 100vw;
    height: 100vh;
}
.foto{
    grid-column: 1;
    width: 50vw;
    height: 100vh;
    background-image: url(../img/gerenciador-de-tarefas.jpg);
    background-position: center;
    background-size: cover;
}
.entrar{
    grid-column: 2;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20%;
}

.entrar h2{

    font-family: 'Roboto', sans-serif;
}

.foco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--verde);
    width: 80%;
    height: 60%;
    padding: 20px;
    border-radius: 5px;
    
}
.infos-usuarios{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emailLogin{
     border-radius: 5px;
     height: 30px;
     border: none;
    
}

.senhaLogin{

    border-radius: 5px;
    height: 30px;
    border: none;
    margin-top: 30px;
}

.entrarLogin{

    border: none;
    height: 40px;
    padding: 15px 30px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
    
    
}

.entrarLogin a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.pe a{
    font-family: 'Roboto', sans-serif;
}