body{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: var(--verde-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 8%;
}
main{
    padding: 7%;
    gap: 32px;
}
.container{
    background-color: var(--verde);
    border-radius: 15px;
    display: grid;
    grid-template-areas: 
    "l r";
}
.right{
    padding: 20%;
    display: flex;
    border-radius: 24px;
    grid-area: r;
    gap: 2px;
}
.left{
    grid-area: l;
    place-self: center;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
button{
    border-color: var(--verde-escuro);
    border-width: 2px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--branco);
    grid-area: l;
    place-self: start end;
}
button a{
    text-decoration: none;
    color: var(--verde-escuro);
    font-size: 16px;
}
h2{
    grid-area: l;
    place-self: start;
    color: var(--branco);
}


